.profile-view {
    padding: 1rem;
}

/*
    Header
*/

.profile-header {
    display: flex;
}

.profile-overview {
    align-items: center;
    display: flex;
}

.profile-photo {
    border-radius: 50%;
    height: 75px;
    margin-right: 1.5rem;
    width: 75px;
}

.profile-photo img {
    width: 100%;
}

.profile-wallet {
    margin-left: auto;
}

.profile-wallet-address {
    border: 1px solid #314ACE;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;
}

/*
    Body section
*/

.profile-product-list h3,
.profile-review-list h3 {
    font-weight: 300;
}

.profile-product-container,
.profile-review-container {
    display: flex;
}

.profile-product-item,
.profile-review-item {
    cursor: pointer;
    margin: 0 2rem;
}

.profile-review-actions,
.profile-product-actions {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profile-review-actions a,
.profile-product-actions a {
    color: #000;
    margin: 1rem 0;
}

/*
    Product section
*/

.profile-product-list {
    margin: 48px 0;
}

.profile-product-pict {
    width: 250px;
    height: 250px;
}

.profile-product-pict img {
    width: 100%;
    height: 100%;
}

/*
    Review section
*/

.profile-review-pict {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.profile-review-pict img {
    width: 100%;
    height: 100%;
}

/*
    Back icon
*/
.profile-back-action {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 1.25rem;
    left: 1.25rem;
}

.profile-back-action img {
    transform: rotate(180deg) scale(0.5);
}

.profile-back-action a,
.profile-back-action a:hover,
.profile-back-action a:focus,
.profile-back-action a:active {
    color: #000;
    text-decoration: none;
}
